html {
    display: inline-block;
}

h1 {
    font-size: 5em;
    margin: 0px !important;
}

h2 {
    font-size: 4em;
    margin: 0px !important;
}

h3 {
    font-size: 3em;
    margin: 0px !important;
}

p {
    font-size: 1.1em;
    margin: 0px !important;
}

li,
ul {
    list-style: none;
    float: left;
    margin: auto .75em auto .75em;
    font-size: 1.2em;
    padding-left: 0em !important;
    opacity: .8;
}


/* Nav / Footer */

#navbar,
#footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff5ea;
    width: 100%;
    min-height: 5rem;
    height: 6rem;
    margin: auto;
    padding: .5em 1em .5em 1em;
}

#footer p {
    text-align: left;
}

#navbar {
    position: sticky;
    top: 0;
}

#navbar ul {
    transition: opacity 0.3s;
}

#logo {
    margin-left: 2em;
    height: 100%;
}

#nav-btns {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

#compass {
    width: 4em;
    height: 4em;
    margin: auto;
    opacity: .5;
}

.spacer {
    width: 20vw;
}

.fade-in {
    opacity: .8;
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

/* Content */

#content {
    width: 100%;
    height: 100vh;
    margin: 0 auto !important;
}